.skin-blue .main-header .navbar,
.skin-blue .main-header .logo {
    background-color: #C51230;
}
.skin-blue .main-header .logo:hover,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #dd4b39;
}
.content-wrapper, .right-side {
    /*background-color: #FDF1E4;*/
    background-color: #fff;
}
/* para la foto de perfil */
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color : #C51230;
}
.skin-blue .main-header li.user-header {
    background-color: #FFDFBD;
    border-bottom: 1px solid #C51230;
}
.user-footer {
    border-bottom: 1px solid #ccc;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    border-left-color: #BC633C;
}
/* del login.css */
.btn-primary {
    color: #fff;
    background-color: #C51230;
    border-color: #C51230;
    border-radius: 0 !important;
}
input {
  border-radius: 0 !important;
}
::selection {
  background-color: #C51230;
  color: white;
}
:focus, a:focus, .btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline-color: #E9A566;
}
.btn-primary.active, .btn-primary.focus,
.btn-primary:active, .btn-primary:focus,
.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #EC3A3A;
    border-color: #EC3A3A;
}
/* para el estilo cuando click */
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
    background-color: #D13232;
    border-color: #D13232;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.form-control:focus {
    border-color: #D8C7B4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247, 141, 51, 0.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247, 141, 51, 0.7);
}
/* para las tablas */
table.table-bordered {
  border: 1px solid #DCBFA8;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #DCBFA8;
}
/* overrides default bootstrap rules */
a {
    color: #C51230;
}
a:focus, a:hover {
    /*font-weight: bold;*/
    color: #C51230;
}
table a:focus, table a:hover {
     font-weight: bold;
}
.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #C51230;
    border-color: #C51230;
}
.pagination>li>a:focus, .pagination>li>a:hover,
.pagination>li>span:focus, .pagination>li>span:hover {
    color: #EC0808;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #C51230;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
/* para breadcrumb */
.content-header>h2,
.content-header>h3 {
    margin: 4px;
}
.content-header>h2 {
    font-size: 20px;
}
.content-header>h3 {
    font-size: 16px;
}
/* breadcrumb.css */
/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
}
.tag .remove {
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #C51230;
  margin-bottom: 2px;
}

/* estilos para los niveles */
#hierachy-dep {
    margin-bottom: 15px;
}
/* para alinear vertical el datatable */
.alinear-vertical {
    vertical-align: middle !important;
}

.btn-group>.btn-operaciones ,
.btn-group>.dropdown-toggle {
    padding : 0 17px;
    background-color: #FFEFDE;
    border-color: #FFD9E0;
}


.dropdown-operaciones>li>a:hover {
    background-color: #FFE6CB;
}
/* para el avatar */
.card {
    padding-top: 20px;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("../img/fondos/lorempixel.jpg");
    background-size: cover;
    height: 90px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
    min-height: 55px;
    display: table;
    width: 100%;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
#usuario-cargo {
    font-weight: bold;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #C51230;
}
.box.box-custom-gray {
    border-top-color: #C8C9CB;
}
.box.box-custom-mmg {
    border-top-color: #C51230;
    background : #FFF1E3;
}

.highlight {
    color: blue;
    background-color: yellow;
}

.profile-user-img {
    border: 3px solid #FFEFDE;
}
.asterisk {
    color:red;
    font-weight:bold
}
.box.box-custom {
    border-top-color: #C51230;
}
.callout {
    border-left: 5px solid #C51230;
}
.callout.callout-custom {
    background-color: #FFE6CB!important;
    color: black !important;
}