@import url(fonts.css);
body {
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 13px;
  background-color: #fff;
}
.open-sans {
  font-family: "OpenSansRegular";
}
.league-gothic {
  font-family: "league-gothic";
}
#contenedorLogin {
    margin: 0;
    padding: 0;
    background: #FFDFBD;
}
#formLogin {
    border: 1px solid #ddd;
    padding: 8px 30px 15px 30px;
    background: white;
}
.login .logo, .login .single-sign-on, .login .footer {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-size: 23px;
}
#formLogin .input-group, #formLogin button {
    width: 100%;
}
/* custom style mmg */
.btn-primary {
    color: #fff;
    background-color: #C51230;
    border-color: #C51230;
    border-radius: 0 !important;
}
input {
  border-radius: 0 !important;
}
.btn-primary {
    color: #fff;
    background-color: #C51230;
    border-color: #C51230;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #EC3A3A;
    border-color: #EC3A3A;
}
::selection {
  background-color: #C51230;
  color: white;
}
:focus, a:focus, .btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline-color: #E9A566;
}
.btn-primary.active, .btn-primary.focus,
.btn-primary:active, .btn-primary:focus,
.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #EC3A3A;
    border-color: #EC3A3A;
}
/* para el estilo cuando click */
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
    background-color: #D13232;
    border-color: #D13232;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.form-control:focus {
    border-color: #D8C7B4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247, 141, 51, 0.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247, 141, 51, 0.7);
}
/* box error message */
.alert {
    padding: 5px 15px;
     margin-bottom: 0px;
    border: 1px solid transparent;
     border-radius: 0;
}
