<ol class="breadcrumb" id="breadcrumb">
  <% _.each(nivelesJerarquicos, function(nivelJerarquico) { %>
    <% if (nivelJerarquico.nivel < nivel) { %>
      <li><a href="#dependencia-organizacional/<%= nivelJerarquico.nivel %>" data-toggle="tooltip" data-title="<%= nivelJerarquico.descripcionNivelJerarquico %>"><i class="fa fa-dashboard"></i> <%= nivelJerarquico.nivel + '. ' + nivelJerarquico.abreviaturaNivelJerarquico %></a></li>
    <%} else { %>
      <li class="active"><%= nivelJerarquico.nivel + '. ' + nivelJerarquico.abreviaturaNivelJerarquico %></li>
    <%} %>
  <% }) %>
</ol>