<section class="content-header" id="content-header">
    <h3>
      <strong>MI PERFIL</strong>
      <span class="pull-right">
          <a href="#" id="edit-profile"><i class="fa fa-edit"></i> editar info </a>
          <a href="#" id="change-password"><i class="fa fa-lock"></i> cambiar contraseña </a>
      </span>
    </h3>
</section>
<!-- Main content -->
<section class="content" id="content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <!-- Profile Image -->
            <div class="box box-custom-mmg">
                <div class="box-body box-profile">
                    <img alt="" src="<%= parametros.usuario.uuidFoto ? 'uploadFoto/' + parametros.usuario.uuidFoto : 'static/img/fotos/male_placeholder.jpg' %>" class="profile-user-img img-responsive img-circle loadimage">
                    <h3 class="profile-username text-center" id="nombre-para-mostrar"><%= modUtils.toTitleCase(parametros.usuario.nombres + ' ' + parametros.usuario.paterno) %></h3>
                    <p class="text-muted text-center"><%= parametros.usuario.cargo ? parametros.usuario.cargo.descripcionCargo : '(cargo por definir)' %></p>
                    <div id="cambiar-cargar-imagen"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-sm-8 form-horizontal">
                <div id="panel-perfil">
                  <div class="form-group">
                    <label for="mi-perfil" class="col-sm-4 control-label">CARGO:</label>
                      <div class="col-sm-8"><p class="form-control-static"><%= parametros.usuario.cargo ? parametros.usuario.cargo.descripcionCargo : '(cargo por definir)' %></p></div>
                    </div>
                    <div class="form-group">
                      <label for="nombres" class="col-sm-4 control-label">NOMBRES:</label>
                      <div class="col-sm-8"><p class="form-control-static edit-in-place" id="nombres"><%= parametros.usuario.nombres %></p><img class="saving nombres" src="static/css/img/loading.gif"></div>
                    </div>
                    <div class="form-group">
                      <label for="paterno" class="col-sm-4 control-label">APATERNO:</label>
                      <div class="col-sm-8"><p class="form-control-static edit-in-place" id="paterno"><%= parametros.usuario.paterno %></p><img class="saving paterno" src="static/css/img/loading.gif"></div>
                    </div>
                    <div class="form-group">
                      <label for="materno" class="col-sm-4 control-label">AMATERNO:</label>
                      <div class="col-sm-8"><p class="form-control-static edit-in-place" id="materno"><%= parametros.usuario.materno %></p><img class="saving materno" src="static/css/img/loading.gif"></div>
                    </div>
                    <div class="form-group">
                      <label for="correo" class="col-sm-4 control-label">EMAIL:</label>
                      <div class="col-sm-8"><p class="form-control-static edit-in-place" id="correo"><%= parametros.usuario.correo ? parametros.usuario.correo : '(por especificar)' %></p><img class="saving correo" src="static/css/img/loading.gif"></div>
                    </div>
                    <div class="form-group">
                      <label for="celular" class="col-sm-4 control-label">CELULAR:</label>
                      <div class="col-sm-8"><p class="form-control-static edit-in-place" id="celular"><%= parametros.usuario.celular ? parametros.usuario.celular : '(por especificar)' %></p><img class="saving celular" src="static/css/img/loading.gif"></div>
                    </div>
              </div>
              <div id="panel-cambiar-clave" style="display:none">
                <div class="form-group">
                    <label for="clave-antigua" class="col-sm-6 control-label">CONTRASEÑA ANTIGUA:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="clave-antigua" value="dfasdf">
                    </div>
                </div>
                <div class="form-group">
                  <label for="clave-nueva" class="col-sm-6 control-label">CONTRASEÑA NUEVA:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="clave-nueva" value="dfasdf">
                    </div>
                </div>
                <div class="form-group">
                    <label for="repite-clave-nueva" class="col-sm-6 control-label">REPITA LA NUEVA CONTRASEÑA:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="repite-clave-nueva" value="dfasdf">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-6">
                        <button type="submit" class="btn btn-default btn-change-password">CAMBIAR CONTRASEÑA</button>
                    </div>
                </div>

            </div>
          </div>

        </div>
      </div>
    </div>
</section>