<div class="col-sm-2" style="width:100%">
    <a href="" data-nivel-jerarquico-id="<%= idNivelJerarquico %>" title="editar" class="obj-edit pull-left"><i class="fa fa-pencil"></i> Editar</a>
    <a href="" data-nivel-jerarquico-id="<%= idNivelJerarquico %>" title="eliminar" class="obj-delete pull-right"><i class="fa fa-remove" style="border-radius: 20px !important; cursor: pointer;"></i> Eliminar</a>
</div>