<section class="content-header" id="content-header">
    <h1>Gestionar niveles Jerárquicos</h1><ol class="breadcrumb" id="breadcrumb"></ol>
</section>
<!-- Main content -->
<section class="content" id="content">
    <div class="row" id="edit-nivel-jerarquico" style="display:none">
        <div class="col-sm-12 box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Editar Nivel de la Jerarquía</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden" id="idNivelJerarquico">
                        <label for="descripcion-nivel" class="col-sm-4 control-label">Descripción*:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="descripcion-nivel" placeholder="Descripción del nivel jerárquico" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="abreviatura-nivel" class="col-sm-4 control-label">Abreviatura:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="abreviatura-nivel" placeholder="Abreviatura del nivel jerárquico" maxlength="10">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nivel" class="col-sm-4 control-label">Nivel Jerárquico*:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="nivel" placeholder="nivel eg. 1">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default cancel" tabindex="-1" type="button">Cancelar</button>
                    <button class="btn btn-warning pull-right save" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-bordered table-striped table-condensed data-table-container" id="select-table-jerarquia-nivel">
      <thead>
        <th>DESCRIPCIÓN DEL NIVEL</th>
        <th class="text-cente">ABREVIATURA</th>
        <th class="text-center">NIVEL</th>
        <th class="text-center">OPERACIONES</th>
      </thead>
    </table>
</section><!-- /.content -->