.card.hovercard {
    background : #FFEFDE;
}

.card.hovercard.empty {
    background: #f5f5f5;
}

.card.hovercard .cardheader.empty {
    background: #969696;
}

.card.hovercard .avatar.empty img {
    border-radius : 0 !important;
    transition : all 0.3s ease;
}
.card.hovercard .avatar.empty a>img:hover {
    box-shadow: 10px 10px 5px #888888;
    transform: scale(1.1);
}

a.remove-cargo {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;

}
a.remove-cargo:hover {
    transform : scale(1.2);
    text-decoration: none;
    color : white;
}
.asignar-personal {
    display: table-cell;
    vertical-align: middle;
}