<section class="content-header" id="content-header">
    <h3>
      <strong>AÑADIR NUEVO EMPLEADO</strong>
      <div class="pull-right"><a href="#" class="search-empleado" title="" data-toggle="tooltip" data-placement="left" data-original-title="hotKey: Alt + P"><i class="fa fa-search"></i> buscar empleado ...</a></div>
    </h3>

    <div id="hierachy-dep" class="col-sm-12 form-horizontal"></div>
</section>
<!-- Main content -->
<section class="content" id="content">
  <div class="row" id="save-empleado" style="display:block">
      <div class="col-sm-12 box box-custom">
        <div class="box-header with-border">
          <div class="callout callout-custom" style="margin: 0px;padding: 2px 15px;display: block;float: right;"><p><strong>¡tener en cuenta que!</strong> los campos con <span class="asterisk">*</span> son obligatorios.</p></div>
            <h3 class="box-title"> NUEVO EMPLEADO</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body col-sm-6">
                <div class="form-group">
                    <input type="hidden" id="idEmpleado" value="<%= (empleado && empleado.idEmpleado) ? empleado.idEmpleado : '' %>">
                    <label for="nombres" class="col-sm-4 control-label">Nombres <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombres" tabindex="1" placeholder="Ejm. Isaias Federico" maxlength="100" value="<%= (empleado && empleado.nombres) ? empleado.nombres : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="materno" class="col-sm-4 control-label">AMaterno :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="materno" tabindex="3" placeholder="Ejm. Montesinos" maxlength="40" value="<%= (empleado && empleado.materno) ? empleado.materno : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nroDocumento" class="col-sm-4 control-label">Nro de Documento <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nroDocumento" tabindex="5" placeholder="Ejm. 45752118" maxlength="20" value="<%= (empleado && empleado.nroDocumento) ? empleado.nroDocumento : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="correo" class="col-sm-4 control-label">eMail <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="correo" tabindex="7" placeholder="Ejm. isaias.esquivel@mmg.com" maxlength="100" value="<%= (empleado && empleado.correo) ? empleado.correo : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="celular" class="col-sm-4 control-label">Celular :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="celular" tabindex="9" placeholder="Ejm. 974205404" maxlength="20" value="<%= (empleado && empleado.celular) ? empleado.celular : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fechaIngreso" class="col-sm-4 control-label">Fecha de Ingreso :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control datepicker" id="fechaIngreso" tabindex="11" placeholder="" maxlength="8" value="<%= (empleado && empleado.fechaIngreso) ? empleado.fechaIngreso : '' %>">
                    </div>
                </div>
            </div>
            <div class="box-body col-sm-6">
                <div class="form-group">
                    <label for="paterno" class="col-sm-4 control-label">APaterno <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="paterno" tabindex="2" placeholder="Ejm. Esquivel" maxlength="40" value="<%= (empleado && empleado.paterno) ? empleado.paterno : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="usuario" class="col-sm-4 control-label">Usuario <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="usuario" tabindex="4" placeholder="Ejm. iesquivel" maxlength="20" value="<%= (empleado && empleado.usuario) ? empleado.usuario : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="select-rol" class="col-sm-4 control-label">Rol <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                      <select class="chosen-select" id="select-rol" tabindex="6" data-placeholder="seleccione un rol ...">
                          <option></option>
                        <% _.each(roles, function(rol) { %>
                          <option value="<%= rol.idRol %>" <%= (empleado && empleado.idRol && empleado.idRol == rol.idRol) ? 'selected' : '' %>><%= rol.descripcion %></option>
                        <% }) %>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="idRh" class="col-sm-4 control-label">ID RH <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="idRh" tabindex="8" placeholder="Ejm. 33255" maxlength="6" value="<%= (empleado && empleado.idRh) ? empleado.idRh : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="codigoSap" class="col-sm-4 control-label">Código SAP :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="codigoSap" tabindex="10" placeholder="Ejm. 109528" maxlength="8" value="<%= (empleado && empleado.codigoSap) ? empleado.codigoSap : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="guardiaPersonal" class="col-sm-4 control-label">Guardia :</label>
                    <div class="col-sm-8">
                        <select class="chosen-select" id="guardiaPersonal" tabindex="12" data-placeholder="seleccione una guardia ...">
                              <option <%= (empleado && empleado.guardiaPersonal && empleado.guardiaPersonal == 'A') ? 'selected' : '' %>>A</option>
                              <option <%= (empleado && empleado.guardiaPersonal && empleado.guardiaPersonal == 'B') ? 'selected' : '' %>>B</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-default cancel" tabindex="-1" type="button">Cancelar</button>
                <button class="btn btn-primary pull-right save" type="submit">Guardar</button>
            </div>
        </form>
      </div>
  </div>
</section>
<!-- /.content -->
