<div class="row">
  <div class="col-sm-3">
    <div class="box box-custom-mmg">
        <div class="box-body box-profile">
            <img alt="" src="<%= empleado.uuidFoto ? 'uploadFoto/' + empleado.uuidFoto : 'static/img/fotos/male_placeholder.jpg' %>" class="profile-user-img img-responsive img-circle">
            <h3 class="profile-username text-center"><%= modUtils.toTitleCase(empleado.nombres + ' ' + empleado.paterno) %></h3>
            <p class="text-muted text-center"><%= empleado.cargo ? empleado.cargo.descripcionCargo : '(cargo por definir)' %></p>
            <p class="text-center"><button class="btn btn-default cancel" tabindex="-1" type="button">volver</button></p>
        </div>
    </div>
  </div>
  <div class="col-sm-9 form-horizontal">
        <div id="panel-perfil" class="box box-custom-mmg">
            <div class="box-body box-profile">
              <div class="form-group">
                  <label for="mi-perfil" class="col-sm-4 control-label">CARGO:</label>
                  <div class="col-sm-8">
                      <p class="form-control-static">
                          <%= empleado.cargo ? empleado.cargo.descripcionCargo : '(cargo por definir)' %>
                      </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="nombres" class="col-sm-4 control-label">NOMBRES:</label>
                  <div class="col-sm-8">
                      <p class="form-control-static edit-in-place" id="nombres">
                          <%= empleado.nombres %>
                      </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="paterno" class="col-sm-4 control-label">APATERNO:</label>
                  <div class="col-sm-8">
                      <p class="form-control-static edit-in-place" id="paterno">
                          <%= empleado.paterno %>
                      </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="materno" class="col-sm-4 control-label">AMATERNO:</label>
                  <div class="col-sm-8">
                      <p class="form-control-static edit-in-place" id="materno">
                          <%= empleado.materno %>
                      </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="correo" class="col-sm-4 control-label">EMAIL:</label>
                  <div class="col-sm-8">
                      <p class="form-control-static edit-in-place" id="correo">
                          <%= empleado.correo ? empleado.correo : '(por especificar)' %>
                      </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="celular" class="col-sm-4 control-label">CELULAR:</label>
                  <div class="col-sm-8">
                      <p class="form-control-static edit-in-place" id="celular">
                          <%= empleado.celular ? empleado.celular : '(por especificar)' %>
                      </p>
                  </div>
              </div>
              <div class="form-group">
                  <label for="usuario" class="col-sm-4 control-label">USUARIO:</label>
                  <div class="col-sm-8">
                      <p class="form-control-static edit-in-place" id="usuario">
                          <%= empleado.usuario ? empleado.usuario : '(por especificar)' %>
                      </p>
                  </div>
              </div>
            </div>
      </div>
  </div>
</div>