<section class="content-header" id="content-header">
    <h3>
      <strong>GESTIÓN DE CARGOS</strong>
      <div class="pull-right"><a href="#" class="search-cargo" title="" data-toggle="tooltip" data-placement="left" data-original-title="hotKey: Alt + P"><i class="fa fa-search"></i> buscar empleado ...</a></div>
    </h3>

    <div id="hierachy-dep" class="col-sm-12 form-horizontal"></div>
</section>
<!-- Main content -->
<section class="content" id="content">
    <div class="row" id="save-cargo" style="display:none">
        <div class="col-sm-12 box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"> Crear un Nuevo Cargo</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="descripcion-cargo" class="col-sm-4 control-label"><i style="color: #E21010;padding: 3px;cursor: pointer;" class="fa fa-info-circle" data-toggle="tooltip" data-title="Si no encuentra el cargo, añádalo manualmente debajo" data-placement="left"></i>&nbsp;BUSCAR:</label>
                        <div class="col-sm-8">
                            <select class="chosen-select" id="select-cargo">
                              <option></option>
                              <% _.each(cargos, function(cargo) { %>
                                <option value="<%= cargo.idCargo %>" <%= (idCargo && idCargo == cargo.idCargo) ? 'selected' : '' %> > <%= cargo.descripcionCargo %> </option>
                              <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion-cargo" class="col-sm-4 control-label">Descripción*:</label>
                        <div class="col-sm-8">
                          <input type="hidden" id="idCargo">
                          <input type="text" class="form-control" id="descripcion-cargo" placeholder="Ejm. INGENIERO DE DISPATCH (max 50 caracteres)" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="abreviatura-cargo" class="col-sm-4 control-label">Abreviatura:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="abreviatura-cargo" placeholder="Ejm. ING.DISPATCH (max 15 caracteres)" maxlength="15">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default cancel" tabindex="-1" type="button">Cancelar</button>
                    <button class="btn btn-warning pull-right save" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row nav-tabs-custom" id="show-profile-cargo" style="display:none">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#show-profile-tab" data-toggle="tab" aria-expanded="false">VER PERFIL</a></li>
        <li><a href="#change-cargo-tab" data-toggle="tab" aria-expanded="true">ASIGNAR PERSONAL A CARGO</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="show-profile-tab">
        </div>
        <div class="tab-pane" id="change-cargo-tab">
          <form class="form-horizontal">
              <div class="box-body">
                  <div class="form-group">
                      <label class="col-sm-4 control-label">Asignar el cargo de:</label>
                      <div class="col-sm-8">
                          <input type="hidden" id="idEmpleado">
                          <p class="form-control-static" id="descripcion-cargo-static"></p>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-4 control-label">Abreviatura:</label>
                      <div class="col-sm-8">
                          <p class="form-control-static" id="abreviatura-cargo-static"></p>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-4 control-label">Elegir empleado *:</label>
                      <div class="col-sm-8">
                          <select class="chosen-select" id="select-empleado">
                            <option value="0">NINGUNO</option>
                            <% _.each(empleados, function(empleado) { %>
                              <option value="<%= empleado.idEmpleado %>" <%= (idEmpleado && idEmpleado == empleado.idEmpleado) ? 'selected' : '' %> > <%= empleado.nombreParaMostrar %> </option>
                            <% }) %>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="box-footer">
                  <button class="btn btn-default cancel" tabindex="-1" type="button">Cancelar</button>
                  <button class="btn btn-warning pull-right save" type="submit">Guardar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div id="people-list">
      <% var times = 0, newRow = false %>
      <% _.each(groupCargos, function(cargos) { %>
      <div class="row">
        <% _.each(cargos, function(cargo) { %>
        <div class="col-sm-3">
              <div class="card hovercard<%= cargo.empleado ? '' : ' empty' %> box">
                <a href="#" class="remove-cargo" data-cargo-id="<%= cargo.idCargo%>"  data-toggle="tooltip" data-placement="left" data-title="quitar cargo"><i class="fa fa-lg fa-times-circle-o"></i></a>
                  <div class="cardheader<%= cargo.empleado ? '' : ' empty' %>">
                  </div>
                  <div class="avatar">
                    <% if (cargo.empleado && cargo.empleado.uuidFoto) { %>
                      <img src="<%= BASE_URL + 'uploadFoto/' + cargo.empleado.uuidFoto %>" alt="" width="148" height="205">
                    <% } else { %>
                    <img src="<%= BASE_URL + 'static/img/fotos/male_placeholder.jpg' %>" alt="" width="148" height="205">
                    <% } %>
                  </div>
                  <div class="info">
                      <div class="title">
                          <a href="#" <%= cargo.empleado ? ' data-toggle="tooltip" data-title="ver perfil" data-placement="bottom"' : ' data-toggle="tooltip" data-title="Asignar personal a este cargo" data-placement="bottom"' %> data-cargo-id="<%= cargo.idCargo %>" class="show-profile-cargo"><%= cargo.empleado ? modUtils.toTitleCase(cargo.empleado.nombres + ' ' + cargo.empleado.paterno) : 'pendiente' %></a>
                      </div>
                      <div class="desc"><%= cargo.descripcionCargo %></div>
                  </div>
              </div>
          </div>
          <% if (++times == totalCargos && cargos.length % 4 == 0) { newRow = true }
          if (times == totalCargos && !newRow) { %>
            <div class="col-sm-3">
                <div class="card hovercard empty box">
                    <div class="cardheader empty">
                    </div>
                    <div class="avatar empty">
                        <a href="#" class="add-new-cargo"><img alt="add-position" data-toggle="tooltip" data-title="AÑADIR UN NUEVO CARGO" src="<%= BASE_URL + 'static/img/fotos/anonimov.jpg' %>" width="148" height="205"></a>
                    </div>
                    <div class="info">
                        <div class="title">
                            _
                        </div>
                        <div class="desc">SIN CARGO</div>
                    </div>
                </div>
            </div>
          <% } %>
        <% }) %>
      </div>
      <% if (newRow) { %>
      <div class="row">
        <div class="col-sm-3">
          <div class="card hovercard empty box">
              <div class="cardheader empty">
              </div>
              <div class="avatar empty">
                  <a href="#" class="add-new-cargo"><img alt="add-position" data-toggle="tooltip" data-title="AÑADIR UN NUEVO CARGO" src="<%= BASE_URL + 'static/img/fotos/anonimov.jpg' %>" width="148" height="205"></a>
              </div>
              <div class="info">
                  <div class="title">
                      _
                  </div>
                  <div class="desc">SIN CARGO</div>
              </div>
          </div>
        </div>
      </div>
      <%} %>
      <% }) %>
      <% if (totalCargos == 0) { %>
      <div class="row">
        <div class="col-sm-3">
          <div class="card hovercard empty box">
              <div class="cardheader empty">
              </div>
              <div class="avatar empty">
                  <a href="#" class="add-new-cargo"><img alt="add-position" data-toggle="tooltip" data-title="AÑADIR UN NUEVO CARGO" src="<%= BASE_URL + 'static/img/fotos/anonimov.jpg' %>" width="148" height="205"></a>
              </div>
              <div class="info">
                  <div class="title">
                      _
                  </div>
                  <div class="desc">SIN CARGO</div>
              </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
</section>
<!-- /.content -->
