<div class="col-sm-2" style="width:100%">
 <div class="btn-group">
    <button type="button" class="btn btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Elegir <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-operaciones" role="menu">
      <% if (dependencia.nivelJerarquico.nivel < 6) { %>
      <li><a href="#dependencia-organizacional/<%= (dependencia.nivelJerarquico.nivel + 1) + '/' + dependencia.idDependenciaOrganizacional %>"><i class="fa fa-search"></i> <%= context.dependencia.getNextLevelDescription() %></a></li>
      <%} %>
      <li><a href="#cargo/<%= context.nivel + '/' + dependencia.idDependenciaOrganizacional %>"><i class="fa fa-group"></i> Ver cargos</a></li>
      <li class="divider"></li>
      <li><a href="#" class="obj-move"><i class="fa fa-exchange"></i> Mover</a></li>
      <li><a href="#" class="obj-edit"><i class="fa fa-pencil"></i> Editar</a></li>
      <li><a href="#" class="obj-delete"><i class="fa fa-remove"></i> Eliminar</a></li>
    </ul>
  </div>
</div>