<section class="content-header" id="content-header">
    <h3><strong>ORGANIGRAMA</strong><div class="pull-right"><a href="#" class="search-dependencia" title="" data-toggle="tooltip" data-placement="left" data-original-title="hotKey: Alt + P"><i class="fa fa-search"></i> buscar dependencia ...</a></div></h3>
    <div id="breadcrumb-container"></div>
    <div id="hierachy-dep" class="col-sm-12 form-horizontal"></div>
</section>
<!-- Main content -->
<section class="content" id="content">
    <div class="row" id="save-dependencia" style="display:none">
        <div class="col-sm-12 box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title"><span id="dep-action-type"></span> Dependencia Organizacional</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden" id="idDependenciaOrganizacional">
                        <label for="descripcion-dependencia" class="col-sm-4 control-label">Código de dependencia <span class="asterisk">*</span>:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="cod-dependencia" placeholder="Ejm. DEP-001" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select-rol" class="col-sm-4 control-label">Nivel Jerárquico <span class="asterisk">*</span>:</label>
                        <div class="col-sm-8">
                          <select class="chosen-select" id="select-nivel-jerarquico" data-placeholder="seleccione un nivel al cual pertenece esta dependencia ...">
                              <option></option>
                            <% _.each(allNivelesJerarquicos, function(nivelJerarquico) { %>
                              <% if (nivelJerarquico.nivel >= nivel) { %>
                                <option value="<%= nivelJerarquico.idNivelJerarquico %>" <%= nivel == nivelJerarquico.nivel ? 'selected' : '' %>><%= 'Nivel ' + nivelJerarquico.nivel + ' - ' + nivelJerarquico.descripcionNivelJerarquico %></option>
                              <% } %>
                            <% }) %>
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="idDependenciaOrganizacional">
                        <label for="descripcion-dependencia" class="col-sm-4 control-label">Descripción de la dependencia <span class="asterisk">*</span>:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="descripcion-dependencia" placeholder="Ejm. Servicios Técnicos" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="abreviatura-dependencia" class="col-sm-4 control-label">Abreviatura:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="abreviatura-dependencia" placeholder="Ejm. DRSSTT" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default cancel" tabindex="-1" type="button">Cancelar</button>
                    <button class="btn btn-warning pull-right save" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="move-dependencia" style="display:none">
        <div class="col-sm-12 box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Mover Dependencia Organizacional</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden" id="idDependenciaOrganizacional">
                        <label for="select-dependencia-parent" class="col-sm-4 control-label">Nueva dependencia padre:</label>
                        <div class="col-sm-8">
                            <select class="chosen-select" id="select-dependencia-parent">
                              <% _.each(oneLevelBackDeps, function(dependencia) { %>
                                <option value="<%= dependencia.idDependenciaOrganizacional %>"> <%= dependencia.descripcionDependencia %> </option>
                              <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default cancel" tabindex="-1" type="button">Cancelar</button>
                    <button class="btn btn-warning pull-right move" type="submit">Mover</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-bordered table-striped table-condensed data-table-container" id="select-table-dependencia-organizacional">
      <thead>
        <th class="text-center">OPERACIONES</th>
        <th><%= descripcionHeaderNivelDependencia %></th>
        <th class="text-center">ABREV</th>
        <th class="text-center">DEPENDENCIA PADRE</th>
        <th class="text-center">NIVEL</th>
      </thead>
    </table>
</section><!-- /.content -->